{
    "printWidth": 120,
    "trailingComma": "all",
    "tabWidth": 2,
    "useTabs": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "semi": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "singleQuote": false
}
